@import url("./navigation.scss");

.header{
    &__navigation{
        padding-top: 158px;
        padding-bottom: 46px;
    }
    
    
    &__img{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        background-image: url("./../../img/avatar.png");
        background-repeat: no-repeat;
        width: 615px;
        height: 566px;
    }
    &__text{
        text-align: center;
        font-size: 37px;
        &_h1{
            font-size: 64px;
            text-align: center;
            margin: -8px 5px -29px 5px;
        }
        }
    
    &__description{
        margin: 0 auto;
        text-align: center;
    }
    &__btn{
        display: flex;
        justify-content: space-around;
    }
}





