.contact{
    max-width: 915px;
    margin: 0 auto;
    &__devider{
        background-image: url("../../img/Component16.png");
        height:5px;
    }
    &__img{
        background-color:#21262b;
        width:356px;
        height: 350px;
        border-radius: 20px;
        padding-left: 56px;
        // &:hover{
        //     box-shadow: 4px 4px 5px 4px #424e5a;
        // }
    }
    &__card{
        display:flex;
        margin-top: 166px;
    }
    &__form{
        display: flex;
        flex-direction: column;
        margin-top:20px;
        margin-left: 109px;
        text-align: center;
    }
    &__input{
        background: #21262b;
        color: hsl(0, 3%, 52%);
        border-radius: 20px;
        border-style: none;
        line-height: 3em;
        margin-bottom: 30px;
        width: 456px;
        font-size: 22px;
        padding:0 20px;
        outline: none;
        &:nth-child(3){
            textarea:30px;
            resize: none;
        
        }
        &:active{
            box-shadow: 10px 10px 10px rgb(137, 137, 144);

        }
    }
}