.projects{
    max-width: 915px;
    margin: 0 auto;
    margin-bottom: 164px;
    &__btn{
        margin-top: 76px;
        text-align: center;
        display:flex;
        justify-content: space-between;
        }
        &-link{
            width:254px;
            display:block;
        }
    
    &__header{
        width:100%;
        display: flex;
        flex-direction: column;
    }
    &__list{
        display:flex;
        margin-top:136px;
    }
    &__links-img{
        background-repeat: no-repeat;
        width:200px;
        height: 200px;
        border-radius: 250px;
        margin-bottom: 40px;
        margin-right:150px;
        // &:hover{
        //     box-shadow: 10px 4px 5px 2px #424e5a;
        //     }
    }
    &__links-img:nth-child(2){
        background-repeat: no-repeat;
        width:200px;
        height: 200px;
        border-radius: 250px;
    }
    &__links-img:nth-child(3){
        background-repeat: no-repeat;
        width:150px;
        height: 150px;
        border-radius: 250px;
    }
    &__card{
        background-color:#21262b;
        width:800px;
        height: 479px;
        text-align: center;
        border-radius: 20px;
        &:hover{
            box-shadow: 10px 4px 5px 2px #424e5a;
            }
        &-img{
            padding-top: 32px;
            width: 192px;
        }
        
    }
}




