.projects{
    max-width: 915px;
    margin: 0 auto;
    &__btn{
        margin-top: 76px;
        text-align: center;
        display:flex;
        & > a:nth-child(2){
            margin: 0px 61px 0px 61px; 

        }
        &-link{
            width:254px;
            display:block;
            &:hover{
                background-color: #7733FF;
            }
        }
        

    }
    &__divider{
        background-image: url("../../img/Component\ 16.png");
        height:5px;
    }
    &__header{
        width:100%;
        display: flex;
        flex-direction: column;
    }
    
}


