
.container{
    max-width: 1305px;
    margin:0 auto;
    background-color:#0e1721;
    color:white;
    &__main{
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    &__header{
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
}

span{
    color:#7e11b4;
}
.calc{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    &:hover{
        box-shadow: 0px 0px 10px 10px #ae7c35;
    }
}
.cosmo{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    &:hover{
        box-shadow: 0px 0px 10px 10px #7c98b5;
    }
}
// .active{
//     background-color:#7733FF;
// }







