
.container{
    max-width: 1305px;
    margin:0 auto;
    background-color:#0e1721;
    color:white;
    // border-radius: 50px;

    // border:2px solid grey;
    // border-color: linear-gradient(45deg, rgb(167, 179, 176) 26%, rgb(220, 235, 235) 70%);
    &__main{
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    &__header{
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
}

span{
    color:#D32D20;
}
.calc{
    width: 150px;
}
.cosmo{
    width:240px;
}








